body{
    margin:0;
    padding : 0 0;
    font-family: "Avenir-Next", "Roboto";
    font-size:16px;
}
.nav{
font-family: sans-serif;
padding-top: 12px;
display: flex;
align-items: center;
justify-content: space-between;
background-color: white;
}
.nav ul li a{
    
  display: block;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 16px;
  color: grey;
}
.nav li{
    
  display:inline-block;
}
.nav ul{  
    list-style-type: none;
    overflow: hidden;
    float:right;
  }
  .nav img
  {
    height: 40px;
    padding-left: 20px;

}
.nav ul li img{
  height: 13px;
  margin-top: 15px;
}
select {
  border: none;
  margin: 12px;
  color: #8a8a8a;
}
.btn-apply{
  background-color:darkorange;
  color:white;
  height:15%;
  padding: 5px 50px;
  border:none;
}

.home h1{
  font-size:90px;
  color:white;
  z-index:2;
}
.home h3{
  font-size:33px;
  color:white;
  padding-bottom: 90px;
}
.overlay{
    background-color:#000000b3;
    padding: 50px 100px;
}
.apply{
  background-color: #4992ca;
    padding: 15px 0;
    width: 25%;
}
.reg{
  background-color: #0000;
  border-color:#fff;
  width:25%;
  color:white;
  height:7%;
border-radius:2px;
border-style:solid;
}
.infi{
  background-color:white;
  border-radius:15px;
    height:7%;
    width:30%;
}

.flex{
  display:flex;
}
.pom .type{
  flex-wrap: wrap;
  text-align: center;
  padding:13px;
}
.pom{
  font-family: Avenir-Next,Roboto,sans-serif;
  background-color: #4992ca;
  color:white;
  text-align:center;
  padding:50px 55px;
}
.pom h2{
  font-size: 45px;
}
.pom h4{
  font-size: 30px;
}
.pom .text{
  margin-bottom: 20px;
}

.stats .first{
  text-align:center;
  padding:17px;
  flex-wrap: wrap;
}
.stats{
  padding:50px 50px;
  font-family: Avenir-Next,Roboto,sans-serif;
  text-align:center;
}
.stats h2{
  font-size: 45px;
}
.stats h4{
  font-size: 30px;
}

.pok{
  text-align: center;
  padding:50px 55px;
  font-weight: 100;
  font-family: Avenir-Next,Roboto,sans-serif;
}
.pok .flex{
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 20px;
}
.pok p{
  color:grey;
}
.pok h4{
  font-size:30px;
  text-align:center
}
.pok h6{
  font-size:18px;
  color:grey;
}
.pok .img{
  margin-bottom: 70px;
max-width:150px;
}

.qa{
    background-color: #4992ca;
    color:white;
font-family: Avenir-Next,Roboto,sans-serif;
padding:50px 50px;
}
.qa h2{
  text-align: center;
  font-size: 45px;
}

.cards .flex{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: auto;
  max-width: 900px;
}

.btl{
  text-align:center;
padding:40px 100px;
}
.btl .flex{
  color:grey;
  gap: 20px;
   text-align: left;
   flex-wrap: wrap;
}
.btl .buy{
  background-color:  #4992ca;
  color:white;
  padding: 10px 50px;
  border:none;
}
.btl .para{
  max-width: 330px;
}
table td {
  padding: 3px 7px;
  color: #8a8a8a;
  border: 1px solid #8a8a8a;
  border-collapse: collapse;
  line-height: 30px;
}
table{
  border-collapse: collapse;
}
table th {
  border: 1px solid #8a8a8a;
  line-height: 30px;
}
.btl .buy{
  background-color:#4992ca;

}
.btl .txt{
  text-align:center;
}

.know{
  text-align: center;
  background-color:#424242;
  padding:30px 100px;
color:white;
}

.know h2{
  font-size: 45px;
  margin-bottom: 50px;
}
.know .btn{
  background-color: transparent;
  border-color:#fff;
  color:white;
  height:40px;
  width:150px;
border-radius: 2px;
border-style:solid;
}
.know .cl{
  padding-bottom: 50px;
}

.card{
  text-align:center;
padding:0px 0px 40px 0px ;
}
.card .container{
  border-top:15px solid #4992ca;
  border-left:1px solid #8a8a8a50;
  border-right:1px solid #8a8a8a50;
  border-bottom: 1px solid  #8a8a8a50;
  max-width:200px;
    margin:auto;
    background-color: rgb(192, 245, 227);
}
.trainer{
  text-align: center;
  padding:30px 100px;
  font-weight: 100;
  font-family: Avenir-Next,Roboto,sans-serif;
  background-color:#4992ca;
}
.trainer p{
  color:white;
}

.cd{
  flex-wrap:wrap;
  border-top:7px solid #4992ca;
  border-left:1px solid #8a8a8a50;
  border-right:1px solid #8a8a8a50;
  border-bottom: 1px solid  #8a8a8a50;
 text-align:left;
font-family:'Roboto'}
.cd1{
  border-bottom:1px solid  #8a8a8a50;
  text-align: left;
  padding: 0px 0px 10px 20px;
  background-color:rgb(211, 233, 225);
}
.cards{
  padding: 30px 100px;
  text-align:center
}
.cards p{
  max-width:300px;
}

.email{
  background-color: #424242;
  COLOR:white;
  text-align:center;
  padding: 30px 100px;
}
.email .btn{
  background-color: #0000;
  border-color:#fff;
  border-radius:2px;
  height:40px;
width:100px;
border-style:solid;
color:white;
padding: 10px 90px 10px 50px;
}
.email input{
  height:40px;
  max-width:400px;
  padding-top: -50px;
}

.games .flex{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: auto;
  max-width: 900px;
}
.game{
  flex-wrap:wrap;
}
.games{
  padding: 30px 100px;
  text-align:center
}
.games p{
  max-width:250px;
}
.games h3{
  font-size:45px;
  color:grey
}
.games .btn{
  background-color:#4992ca;
  color:white;
  width:20%;
  height:30px;
  border:none;
}

.dsn .flex{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: auto;
  max-width: 900px;
}
.name{
  flex-wrap:wrap;
}
.dsn{
  padding: 30px 100px;
  text-align:center;
  background-color:#4992ca;
  color:white;
}
.dsn p{
  max-width:250px;
}
.dsn img{
  height:100px;
  width:100px;
  border-radius: 100%;
}
.dsn h2{
  font-size:60px;
}

.logos .flex{
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  gap: 150px;
  margin: auto;
  max-width: 900px;

}
.logo{
  flex-wrap:wrap;
}
.logos{
  padding: 30px 100px;
  text-align:center;
}
  .logos h1{
    font-size:60px;
  }
.logos p{
text-align:center;
}
.logos img{
  height: 100px;
  width: 150px;
}

.more{
  text-align: center;
  background-color: #4992ca;
  color:white;
padding: 30px 100px;
}
.more .btn{
background-color: #0000;
  color:white;
  border-color: white;
  width:150px;
  height:40px;
}
.more h3{
  font-size:60px;
}

.footer .flex{
  display: flex;
    justify-content: space-evenly;
  flex-wrap: wrap;

}
.footer{
  background-color: black;
  padding: 30px 100px;
  color: #8a8a8a;
  line-height:40px;
}
.footer .flex a{
  display: block;
}
.footer a{
  text-decoration: none;
  color:white;
}
@media (max-width:1350px) {
  .btl .para{
    max-width:none;
  }
  .cards p{
    max-width:none;
  }
  .dsn p{
    max-width:none;
  }
  .card .container{
    max-width: none;
  }
  .games p{
    max-width: none;
  }
}
